@import 'tailwindcss';

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

section {
  width: 100dvw;
}

@theme {
  --color-primary: #03c5ab;
  --color-secondary: #008387;
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

@layer components {
  .padding-x {
    @apply px-5 md:px-10;
  }

  .padding-x-lg {
    @apply px-5 md:px-20;
  }

  .section-padding {
    @apply px-5 md:px-10 md:mt-40 mt-20;
  }

  .mt-responsive {
    @apply xl:mt-20 md:mt-0 mt-40;
  }

  /* General Grids */
  .grid-base {
    @apply grid grid-cols-1;
  }

  .grid-2-cols {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6;
  }

  .grid-3-cols {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6;
  }

  .grid-3-cols-md-tight {
    @apply grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-0;
  }

  .grid-4-cols {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-7;
  }

  .grid-12-cols {
    @apply grid grid-cols-1 xl:grid-cols-12 gap-10;
  }

  .navbar {
    @apply fixed w-full left-1/2 px-5 py-10 xl:py-5 md:px-10 -translate-x-1/2 z-[100]
    border-b border-black-200 backdrop-blur-2xl;

    .inner {
      @apply mx-auto flex items-center justify-center;
    }

    .logo {
      @apply absolute left-5 top-5 w-10 h-10 cursor-pointer 
      transition-all duration-300 ease-in-out;
    }

    .logo:hover {
      box-shadow: 0 0 10px var(--color-primary);
    }

    nav.desktop {
      @apply hidden lg:flex items-center;

      ul {
        @apply flex space-x-8 gap-5;

        li {
          @apply text-white-50 relative text-2xl transition-transform duration-300 ease-in-out cursor-pointer;

          span {
            @apply transition-colors duration-300 hover:text-white;
          }

          .underline {
            @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full;
          }
        }

        li:hover {
          @apply translate-y-1;
        }
      }
    }

    .btn-primary {
      @apply flex absolute top-4 right-3 xl:top-2 xl:right-2 bg-primary 
      text-white lg:text-3xl text-xl font-bold p-2 rounded-lg 
       justify-center cursor-pointer transition-shadow duration-300 ease-in-out;

      &:hover {
        box-shadow: 0 0 10px var(--color-secondary);
      }
    }
  }

  .home-layout {
    @apply relative z-10 xl:mt-20 mt-32 md:h-dvh h-[80vh] flex flex-col 
    xl:flex-row xl:items-center items-start justify-center;

    h1 {
      @apply text-4xl md:text-7xl flex flex-row flex-wrap gap-2 md:gap-5;
    }

    h1 span {
      @apply text-primary font-bold;
    }

    h1 .span-2 {
      @apply text-secondary;
    }

    h1 > svg {
      @apply w-10 h-10 md:w-15 md:h-15 md:mt-2 rounded-full text-yellow-300;
    }

    .sun-icon {
      @apply bg-primary;
    }

    .elec-icon {
      @apply bg-secondary;
    }

    button {
      @apply flex flex-row mt-10 bg-primary text-white text-2xl font-bold p-2 md:p-5 rounded-lg 
      w-90 gap-5 justify-center cursor-pointer transition-all duration-300 ease-in-out;

      &:hover {
        box-shadow: 0 0 15px var(--color-secondary);

        svg {
          @apply animate-bounce
        }
      }

      svg {
        @apply w-8 h-8 -translate-y-0.5;
      }
    }

    img {
      @apply flex flex-wrap w-50 md:w-125 xl:w-450;
    }

    #ev-charger {
      @apply translate-x-45 translate-y-20 md:translate-x-60 md:translate-y-40 xl:translate-y-100 xl:-translate-x-20;
    }

    #solar-panel {
      @apply -translate-y-30 translate-x-10 md:-translate-y-80 xl:-translate-x-200 xl:-translate-y-150 z-2;
    }
  }

  footer {
    .logo {
      @apply w-10 h-10 pt-1 cursor-pointer transition-all duration-300 ease-in-out;
    }
  }
}